body {
  font-size: 16px;
  color: #fff;
  background-color: #FFC0CB;
  font-family: 'Oxygen', sans-serif;
}

head {
  background-color: rgb(135, 15, 85)
}

.image_label {
  background-color: black;
  position: relative;
  display: grid; 
  overflow: hidden;
  padding: 5px;
  border: 3px solid rgb(112, 11, 11);
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  justify-content: center;
}

.left_img {

  padding-left: 15px;
}

.header_text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:x-large;
  color:rgb(246, 142, 5);
  padding-left: 10px;
}

.category_label {
  /*background-color: black;*/
  position: relative;
  display: grid; 
  overflow: hidden;
  padding: 5px;
  border: 3px solid rgb(112, 11, 11);
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  justify-content: center;
}

#footer_cake {
margin-bottom: 25px;
}